
@{
    ViewBag.Title = "chitiet";
}

<h2>chitiet</h2>
<p>Tổng doanh thu của chuyến bay : @Session["Tongdoanhthu"]</p>
<p>Tổng số vé phổ thông đã được đặt: @Session["Phothong"]</p>
<p>Tông số vé thương gia đã được đặt:@Session["Thuonggia"]</p>
<p>Số vé phổ thông còn trống:@Session["PTtrong"]</p>
<p>Số vé thường gia còn lại :@Session["TGtrong"]</p>