@model web_banvemaybay.Models.Hanhli

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}



<div class="p15">
    <h2>Xóa</h2><br />
    <h4>Hành lí</h4>
    <hr />
        <dl class="dl-horizontal p15">
            <dt>
                Kg : @Html.DisplayFor(model => model.Kg)
            </dt>
            <dt>
                Giá tiền : @Html.DisplayFor(model => model.Giatien)
            </dt>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color p15">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
</div>
