@model web_banvemaybay.Models.Hanhli

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Xóa</h2>

<div>
    <h4>Hành lí</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Kg
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kg)
        </dd>

        <dt>
            Giá tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color p15">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
