@model web_banvemaybay.Models.Hanhli

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Hành lí</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Kg
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kg)
        </dd>

        <dt>
            Giá tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

    </dl>
</div>
<p class="p15">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDhanhli }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
