<!DOCTYPE html>
<html>
<head>
    <title> Thông tin đặt vé</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 style="font-size:13px">
        Kính gửi Quý khách {{CustomerName}}<br />
        Mã vé của Quý khách là : {{MaVe}}<br />
        Xin cảm ơn Quý khách đã lựa chọn và bay cùng AirplaneTicket!<br />
        Quý khách vui lòng truy cập vào <a href="https://localhost:44378/Check/SendOTP">link</a> để xem thông tin chi tiết của vé<br />
    </h1>
    <!--<p>Ngày khởi hành: {{DateHour}}</p>
    <p>Đi từ: {{Departure}}</p>
    <p>Đi đến: {{Destination}}</p>
    <p>Hành lý ký gửi: {{Bag}}</p>-->

</body>
</html>
