@model web_banvemaybay.Models.DiaDiem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}



<div class="p15">
    <h2>Xóa</h2><br />
    <h4>Địa điểm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Địa điểm: @Html.DisplayFor(model => model.DiaDiem1)

        </dt>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" style="background-color: red; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px; border: none;" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');" /> |
            @Html.ActionLink("Quay lại", "Index", null, new { style = "background-color: #0077cc; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;" })
        </div>
    }
</div>
