@model web_banvemaybay.Models.HangHK

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Hãng hàng không</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Tên hãng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>

    </dl>
</div>
<p class="p15">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDhang }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
