@model web_banvemaybay.Models.HangHK

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="p15">
    <h2>Chi tiết</h2><br />
    <h4>Hãng hàng không</h4>
    <hr />
    <dl class="dl-horizontal p15">
        <dt>
            Tên hãng : @Html.DisplayFor(model => model.TenHang)
        </dt>

        <dt>
            Hình ảnh :<br /><img src="@Model.Hinhanh" style="width:20%;height:20%;" />
        </dt>

    </dl>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.IDhang }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>

