@media (max-width: 880px) {

	.location-container {
		top: 50px
	}

	.Bac-Nam,
	.Trung,
	.ChauA,
	.Au-My {
		width: 50%;
	}

	.footer-distributed {
		font: bold 14px sans-serif;
	}

		.footer-distributed .footer-left,
		.footer-distributed .footer-center,
		.footer-distributed .footer-right {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}

			.footer-distributed .footer-center i {
				margin-left: 0;
			}
}
