/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Uchen&display=swap '); */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@200;300;400;500;600;700&family=Uchen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2d232e;
}

.wrapper{
    position: relative;
    width: 800px;
    height: 500px;
    background: linear-gradient(90deg, #4f4e4f,#675a5a);
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    padding: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.wrapper .text-right{
    position: absolute;
    top: 60px;
    right: 180px;
    color: #100f10;
    text-shadow: 0 0 20px rgba(0, 0, 0, .3);
    font-size: 50px;
    user-select: none;
    font-family: 'Parisienne', cursive; 
}

.wrapper .text-right::before{
    content: 'Back';
    position: absolute;
    top: 60px;
    right: -50px;
}

.form-wrapper{   
    z-index: 2;
}

.wrapper .form-wrapper.login{
    transition: .7s ease-in-out;
    transition-delay: .7s;
}   

.wrapper.active .form-wrapper.login{
    transition-delay: 0s;
    transform: translateX(-400px);
}

.wrapper .form-wrapper.register{
    position: absolute;
    margin-top: 15px;
    transform: translateX(-400px);
    transition: .7s ease-in-out;
}

.wrapper img{
    position: absolute;
    right: -40px;
    bottom: -160px;
    width: 60%;
    transform: rotate(260deg);
}

.wrapper.active .form-wrapper.register{
    transition-delay: .7s;
    transform: translateX(0);
}

h2{
    font-size: 2em;
    text-align: center;
    color: #322832;
}

.input-box{
    position: relative;
    width: 280px;
    margin: 5px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #5a084b;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #f2f2f2;
    padding: 0 20px 0 40px;
}

.input-box input::placeholder{
    color: rgba(239, 237, 244, .3);
}

.input-box .icon{
    position: absolute;
    left: 15px;
    color: #f2f2f2;
    font-size: 1.2em;
    line-height: 55px;
}
.forgot-pass{
    margin:12px;
}
    .forgot-pass a {
        color: #d7c2d1;
        font-size: .9em;
        text-decoration: none;
    }

.forgot-pass a:hover{
    text-decoration: underline;
}

button {
    width: 100%;
    height: 45px;
    background: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #47143b;
    font-weight: 500;
}

.sign-link{
    font-size: .9em;
    text-align: center;
    margin: 25px 0;
}

.sign-link p {
    color: #d7c2d1;
}

.sign-link p a{
    color: #d7c2d1;
    text-decoration: none;
    font-weight: 600;
}

.sign-link p a:hover{
    text-decoration: underline;
}