
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #85b8ff1c 0%, #4d6edf3d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Raleway;
    margin: -20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 25px;
    padding-top: 17px;
}

main {
    padding-top: 20px;
}

.sign-in-container h1 {
    padding-top: 100px;
}

.input-box {
    width: 100%;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}


span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

#socialLoginList {
    height: 50px;
}

    #socialLoginList button {
        background: #0D8AF0;
        padding: 12px 14px;
        cursor: pointer
    }

        #socialLoginList button:hover {
            background: #0D8AF0;
            color: black;
        }

button {
    border-radius: 20px;
    border: 1px solid white;
    background: linear-gradient(90deg, #85b8ff 0%, #4d6edfa3 100%);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 35px;
    letter-spacing: 1px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer
}

    button:hover {
        border: 1px solid #ddd;
        background: linear-gradient(180deg, #85b8ff 0%, #4d6edfa3 100%);
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
        padding: 11px 30px;
    }
    button.ghost a{
        font-size:12px;
    }

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 18px 50px 0 50px;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    border-radius: 10px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    width: 768px;
    max-width: 100%;
    top: 100px;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(180deg, #85b8ff 0%, #4d6edfa3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
    background: linear-gradient(180deg, #85b8ff1c 0%, #4d6edf3d 100%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    background: linear-gradient(180deg, #85b8ff1c 0%, #4d6edf3d 100%);
    transform: translateX(0);
}

.overlay-panel a {
    color: white;
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

    footer p {
        margin: 10px 0;
    }

    footer i {
        color: red;
    }

    footer a {
        color: #3c97bf;
        text-decoration: none;
    }

.fbli {
    text-align: center;
    align-items: center;
}

    .fbli p {
        margin: 0;
    }

    .fbli form {
        padding-top: 4px !important;
    }

.menu-u-drop {
    position: absolute;
    transition: 0.3s;
    z-index: 1;
    min-width: 132px;
    min-height: 44px;
    background: #FEA8A7;
}

.FogotPass {
    text-align: center;
    padding-top: 100px;
}

    .FogotPass form {
        background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
        text-align: center;
        border-radius: 12px;
    }

        .FogotPass form label {
            font-size: 20px;
        }

        .FogotPass form input {
            padding: 6px;
            margin: 14px 0px;
            border-radius: 5px;
        }

    .FogotPass .bnt-fgpw {
        border: 1px solid #ddd;
        background: #FEA8A7;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        margin-bottom: 10px;
    }

        .FogotPass .bnt-fgpw:hover {
            border: 1px solid #000;
        }

.main-p input {
    margin: 11px 0;
    border-radius: 10px;
    border: 1px solid;
}
#thongbao {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 999999;
}

.thongbao {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding: 15px 10px;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

.thongbao-icon {
    color: #ff623d;
    font-size: 31px;
}
    .thongbao-icon i {
        box-sizing: unset;
    }


.thongbao-close {
    font-size: 26px;
    cursor: pointer;
    color: #333;
}

.thongbao-body {
    font-size: 16px;
    width: 320px;
    padding: 0 10px;
    font-weight: bold;
    color: #333;
    text-align: left;
}
    .thongbao-body p {
        font-size: 16px;
        font-weight: unset;
        line-height: unset;
        letter-spacing: unset;
        margin: auto;
    }

    .thongbao-body .ndtb {
        font-size: 14px;
        padding: 3px 0;
        font-weight: 600;
        color: #888;
        text-align: left;
    }
.fbli a {
    color: #1197f5;
}