
@{
    ViewBag.Title = "ChonVe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-choose">
    <div class="choose">
        <div class="choose-heading">
            <i class="only-icon fa-solid fa-plane-up"></i>
            <div class="choose-heading-content">
                <p>Hà Nội, Việt Nam <i class="fa-solid fa-arrow-right"></i> Hồ Chí Minh, Việt Nam</p>
                <span>Thứ 7, 1-5-2023</span>
            </div>
        </div>
        <div class="choose-container">
            <div class="choose-item">
                <div class="choose-img">
                    <img src="~/Content/image/vietjet.png" alt="">
                </div>
                <div class="choose-time-go">
                    <span>Hà nội</span>
                    <p>19:35</p>
                </div>
                <div class="choose-time-next">
                    <span>Hồ Chí Minh</span>
                    <p>21:50</p>
                </div>
                <div class="choose-money">
                    <b>1,009,000</b><span> VNĐ</span>
                </div>
                <button class="btn-choose">Chọn</button>
            </div>
            <div class="choose-item">
                <div class="choose-img">
                    <img src="~/Content/image/vietnamairlines.png" alt="">
                </div>
                <div class="choose-time-go">
                    <span>Hà nội</span>
                    <p>19:35</p>
                </div>
                <div class="choose-time-next">
                    <span>Hồ Chí Minh</span>
                    <p>21:50</p>
                </div>
                <div class="choose-money">
                    <b>1,009,000</b><span> VNĐ</span>
                </div>
                <button class="btn-choose">Chọn</button>
            </div>
            <div class="choose-item">
                <div class="choose-img">
                    <img src="~/Content/image/bamboo.png" alt="">
                </div>
                <div class="choose-time-go">
                    <span>Hà nội</span>
                    <p>19:35</p>
                </div>
                <div class="choose-time-next">
                    <span>Hồ Chí Minh</span>
                    <p>21:50</p>
                </div>
                <div class="choose-money">
                    <b>1,009,000</b><span> VNĐ</span>
                </div>
                <button class="btn-choose">Chọn</button>
            </div>
            <div class="choose-item">
                <div class="choose-img">
                    <img src="~/Content/image/vietjet.png" alt="">
                </div>
                <div class="choose-time-go">
                    <span>Hà nội</span>
                    <p>19:35</p>
                </div>
                <div class="choose-time-next">
                    <span>Hồ Chí Minh</span>
                    <p>21:50</p>
                </div>
                <div class="choose-money">
                    <b>1,009,000</b><span> VNĐ</span>
                </div>
                <button class="btn-choose">Chọn</button>
            </div>
            <div class="choose-item">
                <div class="choose-img">
                    <img src="~/Content/image/vietnamairlines.png" alt="">
                </div>
                <div class="choose-time-go">
                    <span>Hà nội</span>
                    <p>19:35</p>
                </div>
                <div class="choose-time-next">
                    <span>Hồ Chí Minh</span>
                    <p>21:50</p>
                </div>
                <div class="choose-money">
                    <b>1,009,000</b><span> VNĐ</span>
                </div>
                <button class="btn-choose">Chọn</button>
            </div>
            <div class="choose-item">
                <div class="choose-img">
                    <img src="~/Content/image/bamboo.png" alt="">
                </div>
                <div class="choose-time-go">
                    <span>Hà nội</span>
                    <p>19:35</p>
                </div>
                <div class="choose-time-next">
                    <span>Hồ Chí Minh</span>
                    <p>21:50</p>
                </div>
                <div class="choose-money">
                    <b>1,009,000</b><span> VNĐ</span>
                </div>
                <button class="btn-choose">Chọn</button>
            </div>

        </div>
    </div>
    <div class="choose-mode">
        <div class="choose-mode-heading">
            <i class="fa-regular fa-eye"></i>
            Chế độ hiển thị theo
        </div>
        <div class="choose-mode-body">
            <div class="choose-mode-item">
                <label for="choose-basic"><input type="radio" name="choose-radio" id="choose-basic" checked="checked"> Giá vé cơ bản cho người lớn</label>
            </div>
            <div class="choose-mode-item">
                <label for="choose-taxes"><input type="radio" name="choose-radio" id="choose-taxes"> Giá vé bao gồm thuế và phí</label>
            </div>

        </div>
    </div>
</div>