
@{
    ViewBag.Title = "DatThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="done">
    <div class="done-main">
        <div class="done-heading">
            <i class="fa-solid fa-circle-check fa-bounce"></i> Bạn đã đặt vé thành công
        </div>
        <div class="flight-details">
            <div class="flight-details-heading">
                Chi tiết chuyến bay
            </div>
            <div class="flight-details-body">
                <div class="flight-details-img">
                    <img src="~/Content/image/vietjet.png" alt="">
                </div>
                <div class="flight-details-go">
                    <b>Hà Nội - HAN</b>
                    <p>Sân bay Nội Bài</p>
                    <p>Cất cánh: <b>23:00</b></p>
                    <p>Ngày: <b>15-04-2023</b></p>
                </div>
                <div class="flight-details-to">
                    <b>Hồ Chí Minh - SGN</b>
                    <p>Sân bay Tân Sơn Nhất</p>
                    <p>Hạ cánh: <b>01:10</b></p>
                    <p>Ngày: <b>16-04-2023</b></p>
                </div>
                <div class="flight-details-info">
                    <p>Chuyến bay: <b>VJ165</b></p>
                    <p>Thời gian  <b>02h 10p</b></p>
                    <p>Hạng chỗ: <b>E1_ECO</b></p>
                    <p>Máy bay: <b>A321-100/200</b></p>
                    <p>Hành lý xách tay: <b>7kg</b></p>
                </div>
            </div>

        </div>
        <div class="contact-details">
            <div class="contact-details-heading">
                Thông tin liên hệ
            </div>
            <div class="contact-details-body">
                <div class="contact-details-item">
                    <b>Họ tên: </b> <span>Nguyễn Văn A</span>
                </div>
                <div class="contact-details-item">
                    <b>Email: </b> <span>nguyenvana@gmail.com</span>
                </div>
                <div class="contact-details-item">
                    <b>Điện thoại: </b> <span>096 096 096</span>
                </div>
                <div class="contact-details-item">
                    <b>Phương thức thanh toán: </b> <span>Chuyển khoản ngân hàng</span>
                </div>
                <div class="contact-details-item">
                    <b>Yêu cầu đặc biệt: </b> <span>Không có yêu cầu gì</span>
                </div>
            </div>

        </div>
        <div class="ticket-details">
            <div class="ticket-details-heading">
                Thông tin vé
            </div>
            <div class="ticket-details-body">
                <div class="ticket-details-item">
                    <b>Mã đơn hàng: </b> <span>AHJLFGHLAHFL</span>
                </div>
                <div class="ticket-details-item">
                    <b>Trạng thái: </b> <span>Chưa xác nhận</span>
                </div>
                <div class="ticket-details-item">
                    <b>Chuyến bay: </b> <span>Một chiều</span>
                </div>
                <div class="ticket-details-item">
                    <b>Số hành khách: </b> <span>1 người lớn</span>
                </div>
                <div class="ticket-details-money">
                    <b>Tổng cộng: </b> <span>1.024,000 đ</span>
                </div>
            </div>

        </div>
    </div>
</div>
