
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="introduce">
    <h1>Lời giới thiệu</h1>
    <p><b>AirplaneTicket</b> là website cung cấp dịch vụ đặt chỗ và bán vé máy bay trực tuyến của nhiều hãng hàng không trong nước và quốc tế. Với giao diện thân thiện, dễ thao tác, OnlineBooking không chỉ giúp khách hàng nhanh chóng lựa chọn được hành trình đi lại tối ưu nhất mà còn chọn được giá vé tốt trong tháng, so sánh được giá vé giữa các hãng hàng không, đặt và mua được vé trực tuyến. </p>
    <p><b>AirplaneTicket</b> đang nỗ lực để trở thành địa chỉ bán vé máy bay tin cậy nhất và có nhiều dịch vụ giá trị gia tăng nhất cho khách hàng. Hãy ủng hộ chúng tôi và giúp chúng tôi trở thành nhà cung cấp dịch vụ tốt nhất cho các bạn.</p>
    <p><b>Mọi ý kiến đóng góp vui lòng gửi về Văn phòng Công ty TNHH AirplaneTicket</b></p>
    <ul>
        <li>Địa chỉ: 10/80C XL Hà Nội, Phường Tân Phú, Thủ Đức,Thành phố Hồ Chí Minh, Việt Nam.</li>
        <li>Điện thoại: 0963450084.</li>
        <li>Email: airplaneticket@gmail.com.</li>
    </ul>
    <h2>Hãy trải nghiệm và cảm nhận sự khác biệt chỉ có ở AirplaneTicket!</h2>
    <p><b>1. Giá vé không thể tốt hơn:</b></p>
    <p>Giá vé nội địa và quốc tế rẻ hơn do AirplaneTicket là đại lý chính thức của các hãng hàng không giá rẻ như Tiger Air, VietJet Air…</p>
    <p><b>2. Hệ thống so sánh giá vé thông minh:</b></p>
    <p>AirplaneTicket giúp quý khách dễ dàng so sánh giá vé giữa các Hãng cho cùng một hành trình, Giá vé được cập nhật liên tục và thông tin “Giá vé tốt trong tháng” chỉ có tại AirplaneTicket</p>
    <p><b>3. Tốc độ xử lý nhanh, hình thức thông tin đa dạng:</b></p>
    <p>Hệ thống xử lý đơn hàng tối ưu với đội ngũ IT giàu kinh nghiệm.</p>
    <p><b>4. Đội ngũ tư vấn viên chuyên nghiệp:</b></p>
    <p>Giải đáp, hỗ trợ thông tin chỉ ít phút sau khi đặt vé trực tuyến hoặc qua điện thoại.</p>
    <p><b>5. Thanh toán nhanh chóng, tiện lợi:</b></p>
    <p>Phương thức thanh toán linh hoạt và theo lựa chọn của khách hàng.</p>




</div>
