
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>
<form action="Checkve" method="post">
    <p>Ma ve <sup>*</sup></p>
    <input type="text" name="id" placeholder="sdt" required class="form-control">
    <input type="submit" name="Tìm kiếm" value="" />
</form>