
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/Areas/Admin/ContentAdmin/image/209501.jpg" alt="" id="backgroud">
<form action="Checkve" method="post">
    <div id="main">
        <div class="TraVe">
            <div class="TraVe-heading">
                <p>Tra thông tin vé</p>
            </div>
            <div class="TraVe-content">
                <div class="locition-body-search">
                    <input type="text" name="id" id="search" placeholder="Nhập mã vé máy bay để tìm thông tin !" required class="form-control">
                    <button class="btn-search"><i class="fa-sharp fa-solid fa-magnifying-glass fa-bounce"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>