@{
    ViewBag.Title = "SendOTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}
<img src="~/Areas/Admin/ContentAdmin/image/209501.jpg" alt="" id="backgroud">
<form action="@Url.Action("SendOTP")" method="post">
    <div id="main">
        <div class="TraVe">
            <div class="TraVe-heading">
                <p>Tra thông tin vé</p>
            </div>
            <div class="TraVe-content">
                <div class="locition-body-search">
                    <label for="search">Mã vé:</label><input type="text" name="search" id="search" placeholder="Nhập mã vé máy bay để tìm thông tin !" required class="trave">
                    <label for="email" class="lable-otp-2">Email: </label><input type="email" name="email" required class="otp">
                    <button type="submit">Gửi mã OTP</button>
                </div>
            </div>
        </div>
    </div>
</form>
