
@{
    ViewBag.Title = "xacnhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}
<img src="~/Areas/Admin/ContentAdmin/image/209501.jpg" alt="" id="backgroud">
<form action="@Url.Action("Checkve")" method="post">
    <div id="main">
        <div class="TraVe">
            <div class="TraVe-heading">
                <p>Tra thông tin vé</p>
            </div>
            <div class="TraVe-content">
                <div class="locition-body-search">
                    <label for="search">Mã vé:</label><input type="text" name="search" id="search" value="@Session["mavemuontra"]" required  disabled class="trave">
                    <label for="otp" class="label-otp">OTP: </label><input type="text" name="otp" required class="otp-2">
                    <button type="submit" class="btn-search">Tra vé<i class="fa-sharp fa-solid fa-magnifying-glass fa-bounce"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>